@layer reset, theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@import './reset.css';

:root {

  color-scheme: light dark;
  font-family: system-ui, sans-serif;
  font-size: clamp(0.8rem, 1vi + 0.5rem, 2rem);
}

#root {
  overflow: scroll;
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

p {
  margin-block: 0.25rem;
}

/* See https://github.com/adobe-fonts/adobe-blank-vf */
@font-face {
  font-family: AdobeBlack;
  src: url(/fonts/AdobeBlackVF.woff2) format(truetype);
  font-display: fallback;
}

.axis-input {
  @apply text-xs py-1;
  display: grid;
  grid-template-columns: 2.5rem 2rem 1fr 2rem 2rem;
  gap: 1rem;
  padding-inline-end: 1rem;
}

.card {
  padding: 1rem;
  box-shadow: 0px 0px 0.1rem #b0b0b0;
  border-radius: 1rem;
}

.card.card-full {
  grid-column: span 2;
}

[role='separator'][aria-orientation='vertical'] {
  margin-inline: 1rem;
}
