@layer reset, theme, colors, components, utilities;

@import './colors.css';
@import './reset.css';

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme inline {
  --color-*: initial;
  --color-gray-1: var(--color-gray-1);
  --color-gray-2: var(--color-gray-2);
  --color-gray-3: var(--color-gray-3);
  --color-gray-4: var(--color-gray-4);
  --color-gray-5: var(--color-gray-5);
  --color-gray-6: var(--color-gray-6);
  --color-gray-7: var(--color-gray-7);
  --color-gray-8: var(--color-gray-8);
  --color-gray-9: var(--color-gray-9);
  --color-gray-10: var(--color-gray-10);
  --color-gray-11: var(--color-gray-11);
  --color-gray-12: var(--color-gray-12);
  --color-red-1: var(--color-red-1);
  --color-red-2: var(--color-red-2);
  --color-red-3: var(--color-red-3);
  --color-red-4: var(--color-red-4);
  --color-red-5: var(--color-red-5);
  --color-red-6: var(--color-red-6);
  --color-red-7: var(--color-red-7);
  --color-red-8: var(--color-red-8);
  --color-red-9: var(--color-red-9);
  --color-red-10: var(--color-red-10);
  --color-red-11: var(--color-red-11);
  --color-red-12: var(--color-red-12);
}

:root {
  color-scheme: light dark;
  font-family: system-ui, sans-serif;
  font-size: clamp(0.8rem, 1vi + 0.5rem, 2rem);
  background-color: var(--color-gray-1);
  color: var(--color-gray-12);
}

#root {
  overflow: scroll;
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

@media (max-width: 40rem) {
  #root {
    display: flex;
    flex-direction: column-reverse;
    margin: 1rem;
    justify-content: start;
  }
}

p {
  margin-block: 0.25rem;
}

/* See https://github.com/adobe-fonts/adobe-blank-vf */
@font-face {
  font-family: AdobeBlack;
  src: url(/fonts/AdobeBlackVF.woff2) format(truetype);
  font-display: fallback;
}

.axis-input {
  @apply text-xs py-1;
  display: grid;
  grid-template-columns: 2.5rem 2rem 1fr 2rem 2rem;
  gap: 1rem;
  padding-inline-end: 1rem;
}

.card {
  padding: 1rem;
  box-shadow: 0px 0px 0.1rem var(--color-gray-6);
  border-radius: 1rem;
}

.card.card-full {
  grid-column: span 2;
}
